@*Modified by John  *@
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Office of the Registrar<br />
    Room AA211, Heritage Hall, SAIT Main Campus<br />
    <abbr>Phone:</abbr>
    403.284.7248<br />
    <abbr>(toll-free):</abbr>1.877.284.7248 <br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:inquiry@sait.ca">inquiry@sait.ca</a><br />
</address>